# Simple growth model derivation of savings rate

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('simple_golden_rule_pan.xlsx', sheet_name = 'data')
df.head()

,Year,K,Y,L,k,y,n
0,1960,5.715010e+08,3.068858e+09,1126989,507.104326,2723.059769,NaN
1,1961,7.257556e+08,3.404180e+09,1160832,625.202989,2932.534708,0.030030
2,1962,8.176342e+08,3.684846e+09,1196289,683.475477,3080.230465,0.030544
3,1963,9.187848e+08,3.999487e+09,1233267,745.000740,3243.001739,0.030911
4,1964,8.378643e+08,4.176750e+09,1271461,658.977623,3285.000094,0.030970

## Trend GDP

Hodrick & Prescott filter

In [4]:
df = df.dropna()
df['cycle_k'], df['trend_k'] = sm.tsa.filters.hpfilter(df['k'], lamb= 1600)
df['cycle_y'], df['trend_y'] = sm.tsa.filters.hpfilter(df['y'], lamb= 1600)
df['cycle_n'], df['trend_n'] = sm.tsa.filters.hpfilter(df['n'], lamb= 1600)

In [7]:
n_30y = df['trend_n'][-30:].mean()
n_30y

0.018584272151147586

## Steady state

Based in the Solow growth model,  the steady state can be defined as:
$$ 0 = sf(k^{*}) - (\delta  + n) k^{*}$$

Equivalently:

$$ \frac{y^{*}}{k^{*}} =  \phi (k^{*}) = \frac{\delta + n}{s} $$

If we solve for $s$:

$$ s = \frac{\delta + n}{ y^{*} / k^{*}} $$

### Capital depreciation rate in Panamá

Empirical evidence:


"Investment and Capital Stock Depreciation in Panama" by Samuel Mongrut Montalván. This study analyzes the determinants of investment and capital stock depreciation in Panama using data from 1996 to 2013. The study estimates an average capital depreciation rate of ```7.6%``` for all types of assets, with higher rates for machinery and equipment.

"Estimación de la tasa de depreciación de capital para la economía panameña" by Edgar García-Sánchez and Rita G. Martínez-Vergara. This study estimates the capital depreciation rate for Panama using data from the national accounts. The study estimates a capital depreciation rate of around ```5.5%```.