In [29]:
import requests
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [59]:
# API keys (replace with your own)
fred_api_key = 'c91f3397df57fae05c12d4e199cfcbf5'

def fetch_fred_data(series_id):
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={series_id}&api_key={fred_api_key}&file_type=json"
    response = requests.get(url)
    data = response.json()['observations']
    df = pd.DataFrame(data)
    df['date'] = pd.to_datetime(df['date'])
    df['value'] = df['value'].replace('.', np.nan)
    df['value'] = pd.to_numeric(df['value'])
    return df
    #return data

gdp_data = fetch_fred_data('GDP').rename(columns={'value':'gdp'})
unemployment_data = fetch_fred_data('UNRATE').rename(columns={'value':'unemployment'})
spread_data = fetch_fred_data('T10Y3M').rename(columns={'value':'spread'})

In [62]:
spread_data

      realtime_start realtime_end       date  spread
0         2023-05-12   2023-05-12 1982-01-04    2.32
1         2023-05-12   2023-05-12 1982-01-05    2.24
2         2023-05-12   2023-05-12 1982-01-06    2.43
3         2023-05-12   2023-05-12 1982-01-07    2.46
4         2023-05-12   2023-05-12 1982-01-08    2.50
...              ...          ...        ...     ...
10783     2023-05-12   2023-05-12 2023-05-04   -1.89
10784     2023-05-12   2023-05-12 2023-05-05   -1.82
10785     2023-05-12   2023-05-12 2023-05-08   -1.79
10786     2023-05-12   2023-05-12 2023-05-09   -1.76
10787     2023-05-12   2023-05-12 2023-05-10   -1.81

[10788 rows x 4 columns]

In [68]:
# Merge the GDP, unemployment, and spread data into one DataFrame
data = pd.merge(gdp_data, unemployment_data,how='outer' , on='date')
data = pd.merge(data, spread_data, how='outer',on='date')
data =   data[['date', 'gdp', 'unemployment', 'spread']]
data

            date      gdp  unemployment  spread
0     1946-01-01      NaN           NaN     NaN
1     1946-04-01      NaN           NaN     NaN
2     1946-07-01      NaN           NaN     NaN
3     1946-10-01      NaN           NaN     NaN
4     1947-01-01  243.164           NaN     NaN
...          ...      ...           ...     ...
11341 2023-05-04      NaN           NaN   -1.89
11342 2023-05-05      NaN           NaN   -1.82
11343 2023-05-08      NaN           NaN   -1.79
11344 2023-05-09      NaN           NaN   -1.76
11345 2023-05-10      NaN           NaN   -1.81

[11346 rows x 4 columns]

In [69]:
data = data.fillna(method='ffill')
data = data.dropna()

In [70]:
# Shift the 'recession' column 12 months into the future to create a label for whether a recession occurs in the next 12 months
data['recession'] = (data['gdp'].diff() < 0) & (data['unemployment'] > 6)
data['recession'] = data['recession'].shift(-12)

In [72]:
data = data.dropna()
data['recession'] = data['recession'].astype(int)

In [74]:
data_og =data.copy()

In [75]:
# Remove the last 12 months of data, since we don't know whether a recession occurs in the next 12 months
data = data.iloc[:-12]

# Split the data into features and labels
X = data[['gdp', 'unemployment', 'spread']]
y = data['recession']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Test the model
print(model.score(X_test, y_test))

0.9991055456171736

In [76]:
y_pred = model.predict(X_test)

In [77]:
from sklearn.metrics import accuracy_score, f1_score

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate and print the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy)

# Calculate and print the F1 score
f1 = f1_score(y_test, y_pred)
print("F1 Score: ", f1)

Accuracy:  0.9991055456171736
F1 Score:  0.0

In [79]:
data_og.tail(1)[X.columns]

             gdp  unemployment  spread
11333  26465.865           3.4   -1.68

In [80]:
model.predict(data_og.tail(1)[X.columns])

array([0])