In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

fuente: https://economics.stackexchange.com/questions/32039/good-source-for-marginal-propensity-to-consume-by-country
* household spending: https://data.oecd.org/hha/household-spending.htm#indicator-chart
* household disposable income: https://data.oecd.org/hha/household-disposable-income.htm#indicator-chart
* household debt: https://data.oecd.org/hha/household-debt.htm#indicator-chart
* working age population: https://data.oecd.org/pop/working-age-population.htm#indicator-chart

MPC can be calculated as the change in consumption (ΔC) divided by the change in income (ΔY).

$$
MPC = \frac{\Delta{C}}{\Delta{Y}} 
$$

In [2]:
import os
import glob

# use os.getcwd() to get current working directory
current_directory = os.getcwd()

# use glob.glob() to match file pattern
csv_files = glob.glob(os.path.join(current_directory, '*.csv'))
csv_files

['C:\\Users\\daniguvz\\OneDrive - Seguros Suramericana, S.A\\Documents\\GitHub\\macro\\GDP\\mpc\\household_debt.csv',
 'C:\\Users\\daniguvz\\OneDrive - Seguros Suramericana, S.A\\Documents\\GitHub\\macro\\GDP\\mpc\\household_income.csv',
 'C:\\Users\\daniguvz\\OneDrive - Seguros Suramericana, S.A\\Documents\\GitHub\\macro\\GDP\\mpc\\household_spending.csv']

In [3]:
df_c = pd.read_csv('household_spending.csv')
df_c.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value Flag Codes
0      AUS     HHEXP     TOT  MLN_USD         A  1970  30476.510257        NaN
1      AUS     HHEXP     TOT  MLN_USD         A  1971  32799.844017        NaN
2      AUS     HHEXP     TOT  MLN_USD         A  1972  35590.183565        NaN
3      AUS     HHEXP     TOT  MLN_USD         A  1973  41114.456624        NaN
4      AUS     HHEXP     TOT  MLN_USD         A  1974  48461.851872        NaN

In [7]:
df_c['MEASURE'].unique()

array(['MLN_USD', 'PC_GDP', 'AGRWTH', 'PC_DI'], dtype=object)

In [4]:
df_y = pd.read_csv('household_income.csv')
df_y.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,JPN,HHDI,GROSSADJ,USD_CAP,A,1994,16124.253761,NaN
1,JPN,HHDI,GROSSADJ,USD_CAP,A,1995,16737.559497,NaN
2,JPN,HHDI,GROSSADJ,USD_CAP,A,1996,17137.574301,NaN
3,JPN,HHDI,GROSSADJ,USD_CAP,A,1997,17604.818244,NaN
4,JPN,HHDI,GROSSADJ,USD_CAP,A,1998,17790.334459,NaN

In [5]:
df_d = pd.read_csv('household_debt.csv')
df_d.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS    HHDEBT     TOT  PC_NDI         A  1995   96.53382         NaN
1      AUS    HHDEBT     TOT  PC_NDI         A  1996  100.26810         NaN
2      AUS    HHDEBT     TOT  PC_NDI         A  1997  109.52950         NaN
3      AUS    HHDEBT     TOT  PC_NDI         A  1998  117.35200         NaN
4      AUS    HHDEBT     TOT  PC_NDI         A  1999  123.66920         NaN

In [8]:
df_pop = pd.read_csv('working_pop.csv')
df_pop.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS    WKGPOP     TOT  PC_POP         A  1950  65.282991         NaN
1      AUS    WKGPOP     TOT  PC_POP         A  1951  64.736336         NaN
2      AUS    WKGPOP     TOT  PC_POP         A  1952  64.263301         NaN
3      AUS    WKGPOP     TOT  PC_POP         A  1953  63.648429         NaN
4      AUS    WKGPOP     TOT  PC_POP         A  1954  63.086853         NaN