In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# EMBI

fuente: https://www.bancentral.gov.do/a/d/2585-entorno-internacional

In [5]:
df_embi = pd.read_excel('embi.xlsx')
df_embi.head()

,Fecha,Global,LATINO,REP DOM,Argentina,Bolivia,Brasil,Chile,Colombia,Costa Rica,Ecuador,El Salvador,Guatemala,Honduras,México,Paraguay,Perú,Panamá,Uruguay,Venezuela
0,2007-10-29 00:00:00,2.10117,2.32541,2.28217,3.50066,NaN,1.74591,1.12264,1.60120,NaN,5.97284,1.69250,NaN,NaN,1.25739,NaN,1.45609,1.57240,2.05193,4.01601
1,2007-10-30 00:00:00,2.09184,2.30653,2.28059,3.40902,NaN,1.73399,1.12886,1.57447,NaN,5.95700,1.66766,NaN,NaN,1.26494,NaN,1.45076,1.56610,2.01736,3.99061
2,2007-10-31 00:00:00,2.01050,2.20068,2.13124,3.11642,NaN,1.65654,1.11809,1.47853,NaN,5.75163,1.58238,NaN,NaN,1.20928,NaN,1.36579,1.45827,1.91474,3.82922
3,2007-11-01 00:00:00,2.12474,2.31998,2.22515,3.28787,NaN,1.78215,1.09782,1.60699,NaN,5.90083,1.67401,NaN,NaN,1.30770,NaN,1.45911,1.57267,1.98080,4.01389
4,2007-11-02 00:00:00,2.20092,2.39996,2.31217,3.40686,NaN,1.85498,1.14779,1.68363,NaN,5.95847,1.74595,NaN,NaN,1.37776,NaN,1.52888,1.65530,2.04029,4.12753

In [8]:
df_long_embi = pd.melt(df_embi, id_vars=['Fecha'], var_name = 'Region', value_name ='embi_spread')
df_long_embi

                     Fecha     Region  embi_spread
0      2007-10-29 00:00:00     Global      2.10117
1      2007-10-30 00:00:00     Global      2.09184
2      2007-10-31 00:00:00     Global      2.01050
3      2007-11-01 00:00:00     Global      2.12474
4      2007-11-02 00:00:00     Global      2.20092
...                    ...        ...          ...
72803  2023-02-23 00:00:00  Venezuela    393.56706
72804  2023-02-24 00:00:00  Venezuela    396.17296
72805  2023-02-27 00:00:00  Venezuela    437.92071
72806  2023-02-28 00:00:00  Venezuela    339.50511
72807  2023-03-01 00:00:00  Venezuela    341.79947

[72808 rows x 3 columns]

In [12]:
df_long_embi['Region'].unique()

array(['Global', 'LATINO', 'REP DOM', 'Argentina', 'Bolivia', 'Brasil',
       'Chile', 'Colombia', 'Costa Rica', 'Ecuador', 'El Salvador',
       'Guatemala', 'Honduras', 'México', 'Paraguay', 'Perú', 'Panamá',
       'Uruguay', 'Venezuela'], dtype=object)

In [15]:
countries_dict = {'Global':'GLOB', 'LATINO':'LA', 'REP DOM':'DO', 'Argentina':'AR', 'Bolivia':'BO', 'Brasil':'BR',
       'Chile':'CL', 'Colombia':'CO', 'Costa Rica':'CR', 'Ecuador':'EC', 'El Salvador':'SV',
       'Guatemala':'GT', 'Honduras':'HN', 'México':'MX', 'Paraguay':'PY', 'Perú':'PE', 'Panamá':'PA',
       'Uruguay':'UY', 'Venezuela':'VE'}

dict_values(['GLOB', 'LA', 'DO', 'AR', 'BO', 'BR', 'CL', 'CO', 'CR', 'EC', 'SV', 'GT', 'HN', 'MX', 'PY', 'PE', 'PA', 'UY', 'VE'])

In [18]:
df_long_embi['Pais'] = df_long_embi['Region'].apply(lambda x: countries_dict[x])
df_long_embi.head()

                 Fecha  Region  embi_spread  Pais
0  2007-10-29 00:00:00  Global      2.10117  GLOB
1  2007-10-30 00:00:00  Global      2.09184  GLOB
2  2007-10-31 00:00:00  Global      2.01050  GLOB
3  2007-11-01 00:00:00  Global      2.12474  GLOB
4  2007-11-02 00:00:00  Global      2.20092  GLOB

# Riesgo Social

In [19]:
#df_rs = pd.read_excel('TermometroRsocial.xlsx', sheet_name = 'bd')
df_rs = pd.read_csv('TermometroRsocial.csv')
df_rs_clean = df_rs[['date', 'Pais', 'trend', 'cycle']].copy()
df_rs_clean

            date Pais     trend     cycle
0     2010-01-01   DO -0.015678 -4.589492
1     2010-02-01   DO  0.608279  2.918081
2     2010-03-01   DO  1.155745  2.507817
3     2010-04-01   DO  1.598863  1.396870
4     2010-05-01   DO  1.951572  2.018720
...          ...  ...       ...       ...
2681  2022-10-01   VE  2.734727  0.761781
2682  2022-11-01   VE  2.777630  0.718877
2683  2022-12-01   VE  2.823569 -0.626345
2684  2023-01-01   VE  2.876371  0.381725
2685  2023-02-01   VE  2.929423  0.015016

[2686 rows x 4 columns]

# Tasa de Cambio

# Inflación

# Yield corto plazo

# Yield largo plazo